.search-bar-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.search-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.search-bar li {
  float: left;
  padding: 20px;
}

.game-item {
  width: 200px;
}
